.wrapper {
  @apply max-w-[580px] max-h-[440px] w-full h-full overflow-hidden;
  background: linear-gradient(0deg, #151517, #151517),
    linear-gradient(125.68deg, #2c2f31 8.93%, rgba(53, 55, 57, 0) 53%, #353739 77.7%);

  border: 1px solid;
  border-radius: 32px;
  border-image-source: linear-gradient(125.68deg, #2c2f31 8.93%, rgba(53, 55, 57, 0) 53%, #353739 77.7%);
  border-image-slice: 1;
  background-origin: border-box;
  background-clip: content-box, border-box;

  .header {
    @apply flex justify-between items-center w-full px-4 pt-4 tablet:pt-9 tablet:px-9 absolute z-30;

    .title {
      @apply text-28 tablet:text-32 leading-9 tablet:leading-10 font-medium;
    }

    .link {
      @apply w-23 tablet:w-10 h-23 tablet:h-10;
    }
  }

  .imageWrapper {
    @apply relative h-full flex justify-center;

    .bg {
      @apply absolute top-0 left-0 w-full h-full;
    }

    .contentImage {
      @apply pt-24 relative z-20 object-contain;
    }

    .thirdContentImage {
      @apply pt-28 relative z-20 ml-9;
    }
  }
}
