.wrapper {
  @apply bg-black py-60 tablet:py-100 px-5 tablet:px-20 border border-black flex justify-center;

  .content {
    @apply max-w-screen-desktop w-full;

    .title {
      @apply text-3xl tablet:text-52 font-semibold tablet:leading-67 text-center mb-10 tablet:mb-60;
    }

    .itemWrapper {
      @apply relative flex flex-col gap-10 tablet:gap-100;

      &.rightMode {
        &::before {
          content: "";
          background: rgba(108, 117, 125, 0.44);
          @apply absolute h-[calc(100%-22%)] tablet:h-[calc(100%-20px)] w-0.5 top-4 right-0 tablet:left-1/2 -translate-x-1/2;
        }
      }

      &.leftMode {
        &::before {
          content: "";
          background: rgba(108, 117, 125, 0.44);
          @apply absolute h-[calc(100%-22%)] tablet:h-[calc(100%-20px)] w-0.5 top-4 left-0 tablet:left-1/2 -translate-x-1/2;
        }
      }
    }
  }
}
